.list-style-1 {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.list-style-1 li:before {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "FontAwesome";
  display: inline-block;
  font-size: 13px;
  content: "\f058";
  color: #aaaaaa;
}
.list-style-1 li {
  position: relative;
  padding-left: 20px;
  color: #666666;
  margin-bottom: 10px;
}
.btn-small {
  padding: 10px 25px 10px 25px;
}
.divider-single {
  clear: both;
  height: 30px;
}
